<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>TeCaSa - Main</title>
<link rel="stylesheet" href="styles.css" th:href="@{styles.css}>
</head>
<body>
	<div>
		<h1>Workshops</h1>
		<ul>
			<li><h4><a href="/insertar">Insert</a></h4></li>
			<li><h4><a href="/listar">List</a></h4></li>
			<li><h4><a href="/buscarNombre">Search</a></h4></li>
		</ul>
	</div>
</body>
</html>